<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
			integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
		<title>Tascker</title>
	</head>
	<body>
		<div class="container-fluid height-max">
			<div class="h-100 row bg">
				<div class="col-sm-12 col-md-6 col-lg-8 h-100 text-center main shadow">
					<div class="card mx-auto shadow">
						<span class="icon"><i class="fas fa-layer-group"></i></span>
						<div class="card-body">
							<h5 class="card-title">Projetos</h5>
							<p class="card-text">
								Sem ideias? Vê os projetos já criados e junta-te aos que
								gostares mais e conseguires ajudar!
							</p>
							<a href="/projects" class="btn btn-primary card-button"
								>Explorar</a
							>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 h-100 text-center">
					<div class="card mx-auto shadow">
						<span class="icon"><i class="fas fa-file"></i></span>
						<div class="card-body">
							<h5 class="card-title">Novo Projeto</h5>
							<p class="card-text">
								Começa a pôr as tuas ideias em prática! Cria um projeto e
								adiciona tarefas para teres tudo organizado!
							</p>
							<a href="/projects/new" class="btn btn-primary card-button"
								>Começar</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
