html {
	background: #ece9e6;
	background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
	background: linear-gradient(to right, #ffffff, #ece9e6);
}

body {
	background: transparent;
	font-family: 'Lato', sans-serif;
}

.bg {
	background: #000000;
	background: -webkit-linear-gradient(to right, #555, #111);
	background: linear-gradient(to right, #555, #111);
}

.icon {
	font-size: 8rem;
	color: #555;
}

.main {
	background: #0052d4;
	background: -webkit-linear-gradient(to left, #6fb1fc, #4364f7, #0052d4);
	background: linear-gradient(to left, #6fb1fc, #4364f7, #0052d4);
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.shadow {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.landing-card {
	width: 18rem;
	margin-top: 25vh;
}

.landing-card .card-body {
	border-top: 1px solid #ddd;
}

.landing-card .card-body p {
	font-size: 0.9rem;
	color: #777;
}

.card-button {
	width: 100%;
	background: #5584f9;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

.card-button:hover {
	background: #38e280;
	transition: 0.25s background-color ease-in-out;
}

.jumbo-bg {
	background: #ece9e6;
	background: -webkit-linear-gradient(to top, #ffffff, #f3f2f1);
	background: linear-gradient(to top, #ffffff, #f3f2f1);
}
.jumbo-button {
	background: #5584f9;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

.jumbo-button:hover {
	background: #38e280;
	transition: 0.25s background-color ease-in-out;
}

.form-button {
	background: #5584f9;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

.form-button:hover {
	background: #3a6073;
	transition: 0.25s background-color ease-in-out;
}

.height-max {
	height: 100vh;
}

.nav-links,
.nav-logo {
	color: #777;
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.nav-logo {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.35rem;
}

.nav-links:hover,
.nav-logo:hover {
	color: #5584f9;
	transition: 0.25s color ease-in-out;
	text-decoration: none;
}

.title {
	color: grey;
	text-transform: uppercase;
}

.check {
	background: #38ef7d;
}

.check:hover {
	background: #11998e;
}

.warning {
	background: #ffcd29;
	color: #555;
}

.warning:hover {
	background: #ffdf76;
	color: #555;
	transition: 0.25s background-color ease-in-out;
}

.danger {
	background: #f73f38;
}

.danger:hover {
	background: #b42e29;
	transition: 0.25s background-color ease-in-out;
}

.lst-card {
	border: none;
}

.lst:nth-child(5n + 1) .lst-card {
	background: #11998e;
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
	background: linear-gradient(to right, #38ef7d, #11998e);
}
.lst:nth-child(5n + 2) .lst-card {
	background: #ff8008;
	background: -webkit-linear-gradient(to right, #ffc837, #ff8008);
	background: linear-gradient(to right, #ffc837, #ff8008);
}

.lst:nth-child(5n + 3) .lst-card {
	background: #3a7bd5;
	background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
	background: linear-gradient(to right, #3a6073, #3a7bd5);
}

.lst:nth-child(5n + 4) .lst-card {
	background: #8e0e00;
	background: -webkit-linear-gradient(to right, #1f1c18, #8e0e00);
	background: linear-gradient(to right, #1f1c18, #8e0e00);
}

.lst:nth-child(5n) .lst-card {
	background: #f4c4f3;
	background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);
	background: linear-gradient(to right, #fc67fa, #f4c4f3);
}

.lst-card .icon {
	color: #fefefe;
}
.task .icon {
	color: #fefefe;
	font-size: 3rem;
}

.lst-card-body {
	color: black;
	background: white;
}

.lst-card-button {
	background: #5584f9;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

.lst-card-button:hover {
	background: #38e280;
	transition: 0.25s background-color ease-in-out;
}

.project-card .lst-card {
	background: #3494e6;
	background: -webkit-linear-gradient(to right, #ec6ead, #3494e6);
	background: linear-gradient(to right, #ec6ead, #3494e6);
}
