<form action="/projects" method="POST">
	<p>Criar projeto:</p>
	<input type="text" placeholder="Autor" name="project[author]" />
	<input type="text" placeholder="Nome" name="project[name]" />
	<input
		type="text"
		placeholder="Descrição"
		name="project[description]"
		value="O meu projeto."
	/>
	<input type="text" placeholder="PIN" name="project[pin]" />
	<input type="submit" />
</form>
