<% include ../partials/Header %>

<h2 class="text-center title mt-5">Novo Projeto</h2>
<div class="row">
	<form
		action="/projects"
		method="POST"
		class="col-10 col-md-8 col-lg-6 mx-auto py-4"
	>
		<div class="form-group">
			<label for="author">Autor (*)</label>
			<input
				type="text"
				class="form-control"
				id="author"
				name="project[author]"
				required
			/>
		</div>

		<div class="form-group">
			<label for="name">Nome (*)</label>
			<input
				type="text"
				class="form-control"
				id="name"
				aria-describedby="nameHelp"
				name="project[name]"
				required
			/>
			<small id="nameHelp" class="form-text text-muted"
				>Dá um nome ao teu projeto!</small
			>
		</div>

		<div class="form-group">
			<label for="description">Descrição</label>
			<input
				type="text"
				class="form-control"
				id="description"
				aria-describedby="descriptionHelp"
				name="project[description]"
				value="O meu projeto."
			/>
			<small id="descriptionHelp" class="form-text text-muted"
				>Ajuda os outros a saber no que estás a trabalhar com uma breve
				descrição!</small
			>
		</div>

		<div class="form-group">
			<label for="pin">PIN</label>
			<input
				type="password"
				class="form-control text-center"
				id="pin"
				aria-describedby="pinHelp"
				name="project[pin]"
				required
			/>
			<small id="pinHelp" class="form-text text-muted"
				>Define um PIN para puderes adicionar e remover tarefas a este
				projeto!</small
			>
		</div>

		<button type="submit" class="btn btn-primary btn-block form-button">
			Criar Projeto
		</button>
	</form>
</div>

<% include ../partials/Footer %>
